 <!-- Footer -->
<footer>
    <div class="social">
      <div>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </div>
      <div>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      <div>
        <p> Copyright &copy; Ruxandra Hule 2022</p>
      </div>
  </footer>
