 <!-- Footer -->
<footer>
  Copyright &copy; Ruxandra Hule 2022
</footer>
 <section id="footer">
  <div id="footer-goes-here">
  <footer id="contact">
    <div class="social">
      <div>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </div>
      <div>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
  </footer>
</div>
