<footer>
    <div class="social">
      <div style="social-icon">
        <button><a href="https://www.facebook.com/ruxandra.hule" class="btn" target="_blank">Facebook</a></button>
      </div>

      <div style="social-icon">
        <button><a href="https://instagram.com/ruxandrahule?igshid=YmMyMTA2M2Y=" class="btn" target="_blank">Instagram</a></button>
      </div>

      <div style="social-icon">
        <button><a href="https://www.linkedin.com/in/ruxandra-hule-37952b195/" class="btn" target="_blank">Linkedin</a></button>
      </div>
    </div>

    <div class="copyright">
      <p> Copyright &copy; Ruxandra Hule 2023</p>
    </div>

  </footer>
