<div class="form-container">
  <!-- <form action="https://formsubmit.co/your@email.com" method="POST"> -->
  <div>
    <div class="row">
        <label for="name">First name</label>
        <input class="form-control" type="text" name="first-name" required>
      </div>


    <div class="row">
      <label for="name">Last name</label>
      <input class="form-control" type="text" name="last-name" required>
    </div>


    <div class="row">
        <label for="email">E-mail</label>
        <input class="form-control" type="email" name="email" required>
      </div>


    <div class="row">
        <label for="subject">Subject *</label>
        <input class="form-control" type="text">
    </div>


    <div class="submit">
      <button type="submit">Submit</button>
    </div>

  </div>
  <!-- </form> -->
</div>
