<!-- <form action="https://formsubmit.co/your@email.com" method="POST"> -->
<div class="form-container">
  <form action="" class="label-container">
    <label for="name"></label>
    <input class="form-control" type="text" placeholder="First name" name="first-name" required>
    <input class="form-control" type="text" name="last-name" placeholder="Last name" required >
    <label for="email"></label>
    <input class="form-control" type="email" placeholder="E-mail" name="email" required>
    <label for="subject"></label>
    <textarea placeholder="..."></textarea>
    <input  type="submit" value="Send">
  </form>
</div>
