<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/about">Bio</a>
  <a href="/gallery">Gallery</a>
  <a href="/contact">Contact</a>
  <!-- Hamburger menu-->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars"></i>
</a>
