<nav>
  <div class="navbar">
    <a href="#home" class="active"></a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="/">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/gallery">GALLERY</a>
      <a href="/contact">CONTACT</a>
    </div>
    <!-- Hamburger menu-->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
