<nav>
  <div class="navbar">
    <!-- Logo -->
    <!-- <a href="#home" class="active"></a> -->
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="/">Home</a>
      <a href="/about">Bio</a>
      <a href="/gallery">Gallery</a>
      <a href="/contact">Contact</a>
    </div>
    <!-- Hamburger menu-->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
