<nav class="topnav" id="myTopnav">
  <a href="/contact">Contact</a>
  <a href="/about">Bio</a>
  <a href="/gallery">Gallery</a>
  <!-- Hamburger menu-->
  <a href="javascript:void(0);" onclick="myFunction()" class="icon" >
  <i class="fa fa-bars"></i></a>
</nav>
