.nav-section {
  width: 100%;
  height: 100px;
  margin: 0px;
  display: flex;
  /* justify-content: space-between; */
}

/* @media only screen and (max-width: 1000px ){
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
  }
} */ /* Style to make cards responsive */


.nav-bar {
  width: 100%;
  height: 48px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 10px;
  font-weight: 20px;
  font-family: 'Cormorant Unicase', serif;;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0px 16px 80px;
}

.menu {
  display: flex;
  margin-right: 80px;

}

.menu li {
  list-style-type: none;
  display: inline-flex;
  margin: 0px 48px;
  height: fit-content;
  align-items: center;
  color:  rgb(0, 0, 0, 0.25);
  font-size: 16px;
}

.bar {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .bar {
    border: 0;
    background-color: transparent;
    color:  rgb(0, 0, 0, 0.25);
    font-size: 16px;
    display: block;
  }

  .menu li {
    display: none;
  }
}
