<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- Navbar partial-->
    <%- include('./partials/nav.ejs') %>
  <div>
    <div>
      <p>Bio</p>
    </div>
    <div>

    </div>
    <p>My expressive journey  began with acting.
    I’ve always wanted to be the master of my emotions, for they are keeping us moving the energy and making the public  able to transform feelings into
    Under the instructaj of Ivanna chubuck acting school teachers she masters acting and ..

Film acting
performance

    </p>
  </div>


   <!-- Footer partial -->
 <%- include('./partials/footer.ejs') %>

</body>
</html>
