<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
<body>
  <!-- Navbar partial-->
  <%- include('./partials/nav.ejs') %>
  <section class="content">
    <div class="left-column">
      <h1>About</h1>
    </div>
    <div class="right-column">
      <figure class="portrait">
        <img src="images/blackwhite.png" alt="">
      </figure>
      <p class="description">Hi, I am Ruxandra Hule, an intuitive painter, experience designer and an identity coach. I love creating spaces in which people feel safe to express themselves. Painting has always been part of my universe...</p>
      <p class="description"> My process starts with an indescribable sensation, with a color I don’t necessarily prefer- usually with something I tend to deny. Inspiration comes from my emotional landscape and the way it does not fit to the surrounding circumstances. With no end in my mind, I let colors of the soul and thought shapes to transform into new forms and textures.</p>
      <p class="description">Layer after layer, I become less and less attached to the object. What interests me is the constant process of wondering, a drop-down-through my unconscious abyss and bringing to the surface what I don’t know I know about myself. By surrendering to this journey, I intuitively understand what comes next in the instant pictures that cultivate my inner knowing.</p>
    </div>
  </section>
  <section class="content">
    <div class="left-column">
      <h1>CV</h1>
    </div>
    <div class="right-column">
      <h1 class="heading">LATEST ARTISTIC REPRESENTATIONS</h1>

        <h2 class="subheading">Hidden Destinations | AR Mobile App</h2>
          <p class="date-place">November 2020 - on-going | Botanical Garden Alexandru Borza | Cluj-Napoca</p>
          <p class="detail-text">concept, research, scripting, audio production</p>

        <h2 class="subheading">Infinite gaze | Video Installation</h2>
          <p class="date-place">July 2019 | Electric Castle Festival | New media Castle curated by Alex Czetwertynski</p>
          <p class="date-place">2020 | Clujotronic Festival</p>
          <p class="detail-text">concept, research and supervising video production</p>

        <h2 class="subheading">Unbound | Digital Interactive Performance</h2>
          <p class="date-place">September 2020 | ZIZ | Cluj-Napoca</p>
          <p class="date-place">August 2019 | Fabrica de Pensule | Cluj-Napoca</p>
          <p class="detail-text">concept, script, art directions and live performance</p>

        <h2 class="subheading">We versus | Experimental series of performance designed to explore intimacy and power in relationships</h2>
          <p class="date-place">2017-2018 | facilitated in the Performance Art Program | MNAC | Bucharest</p>
          <p class="detail-text">concept, guiding the experiences in 1-to-1, 1-to-2 and 1-to-many formats, archiving the composition of the participants, editing media content, communication</p>

      <h1 class="heading">SIGNATURE TRAININGS</h1>
        <h2 class="subheading">Recreation Camp | Self Discovery through Art Practices Workshop</h2>
          <p class="date-place">August 2020 | The Spot (Youth Center) | Oradea</p>
          <p class="detail-text">designing the program and workbooks, teaching and coaching, facilitating the experience, and mediating focus groups.</p>

        <h2 class="subheading">Antibullying Narrative Collage | online Workshop</h2>
          <p class="date-place">July 2020| Summer Camp | Telciu</p>
          <p class="detail-text">creating and facilitating the workshop, teaching about bullying and the art of collage, group management, designing the Anti-Bullying editorial for kids.</p>

        <h2 class="subheading">Intuitive Painting | Color and Emotion Workshop</h2>
          <p class="date-place">November 2019 | Act Hub Cluj-Napoca</p>
          <p class="detail-text">designing and facilitating the experience, preparing non-conventional tools and the set up.</p>

      <h1 class="heading">CERTIFICATIONS</h1>
        <h2 class="subheading">Master Practitioner of Neuro-Linguistic Programming, Hypnosis, Time Line Therapy® si Creating your Future®, Life and Business Coaching
          NLP Trainer</h2>
          <p class="date-place">2020-2021 |American Board of Neuro-Lingvistic Programming</p>

      <h1 class="heading">ACADEMIC BACKGROUND</h1>
        <h2 class="subheading">MA in Digital interactive Arts</h2>
          <p class="date-place">2018-2020 | Babes Bolyai College, Cluj- Napoca</p>
          <p class="detail-text">social media for student events and showcasing in group shows, micro managing of transmedia projects and student showcases, thesis on: "Hybrid Space in Networked Communities. Locative Media and Mobile Narrative Design"</p>

        <h2 class="subheading"> BA in Performing Arts</h2>
          <p class="date-place">2011-2014 | Spiru Haret University | Bucharest</p>
          <p class="detail-text">performing, acting, singing, dancing, interpreting characters -assisting teachers, providing choreography support for ballet classes -Thesis on "Broadcasting Emotions on Stage"</p>
    </div>
  </section>
  <!-- Footer partial -->
  <%- include('./partials/footer.ejs') %>
</body>
</html>
