<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- Navbar partial-->
    <%- include('./partials/nav.ejs') %>

  <p>My name is Ruxandra Hule</p>

    <!-- Footer partial -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>
