<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Navbar partial -->
    <%- include('./partials/nav.ejs') %>

    <!-- Contact Form Partial -->

    <%- include('./partials/form.ejs') %>
        <!-- Footer partial -->
    <%- include('./partials/footer.ejs') %>
    </section>

  </body>
</html>
