<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
<body>
  <div class="wrapper">
    <div>
      <!-- Navbar partial -->
      <%- include('./partials/nav.ejs') %>
    </div>
    <div>
      <p>For commissions and direct inquiries, let’s get in touch.</p>
    </div>
    <div>
      <!-- Contact Form Partial -->
      <%- include('./partials/form.ejs') %>
    </div>
    <div>
    <!-- Footer partial -->
    <%- include('./partials/footer.ejs') %>
    </div>
  </div>
</body>
</html>
