<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
<body>
  <section>
    <!-- Navbar partial -->
    <div class="navbar">
      <%- include('./partials/nav.ejs') %>
    </div>
    </section>
    <section>
  <div class="gallery-container">
    <div>
      <img src="RedTectonica.png" alt="Red Tectonica 2015">
    </div>
    <div>
    <img src="FreezingSleep.png" alt="Freezing Sleep">
    </div>
    <div>
      <img src="LostintheWoods.png" alt="Lost in the Woods">
    </div>
    <div>
      <img src="LostintheUniverse.png" alt="Lost in the Universe">
    </div>
    <div>
      <img src="HowILefttheStorm2.png" alt="How I Left the Storm">
    </div>
    <div>
      <img src="Seasons2.png" alt="Acclaimed Trasition">
    </div>
    <div>
      <img src="WarofArt2.png" alt="War of Art">
    </div>
    <div>
      <img src="PaintingwithaBlueHeart.png" alt="Painting with a Blue Heart">
    </div>
    <div>
      <img src="FrameofMindA.png" alt="Frame of Mind A">
      </div>
      <div>
      <img src="FrameofMindB.png" alt="Frame of Mind B">
    </div>
    <div>
      <img src="EmergentEmergencies2.png" alt="Emergent Urgencies A">
      </div>
      <div>
      <img src="EmergentUrgenciesB.png" alt="Emergent Urgencies B">
    </div>
    <div>
      <img src="TranslucentBehaviour2.png" alt="Translucent Behaviour">
    </div>
    <div>
      <img src="VulgarContemplation2.png" alt="Vulgar Contemplation">
    </div>
    <div>
      <img src="PassiveDistortionsA.png" alt="Passive Distortions A">
      </div>
      <div>
        <img src="PassiveDistortionsB.png" alt="Passive Distortions B">
      </div>
      <div>
      <img class="curtain "src="PassiveDistortionsC2.png" alt="Passive Distortions C">
    </div>
    <div>
      <img src="SweetConstrictionsA2.png" alt="Sweet Constirctions A">
    </div>
    <div>
      <img src="SweetConstrictionsB.png" alt="Sweet Constirctions B">
    </div>
    <div>
      <img src="SweetConstrictionsC.png" alt="Sweet Constirctions C">
    </div>
    <div>
      <img src="LoveCurtainA.png" alt="Love Curtain A">
      </div>
      <div>
      <img src="LoveCurtainB.png" alt="Love Curtain B">
    </div>
    <div>
      <img src="Safarius.png" alt="Safarius">
    </div>
    <div>
      <img src="Song.png" alt="Melodrama">
    </div>
    <div>
      <img src="Sunrise.png" alt="Sunrise Infusion">
    </div>
    <div>
      <img src="CandyStore2.png" alt="Candy Store">
    </div>
  </div>
</section>

  <!-- Footer partial -->
  <%- include('./partials/footer.ejs') %>

  <!-- JS -->
  <script src="application.js"></script>
</body>
</html>
