<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
<body>
  <section>
    <!-- Navbar partial -->
    <div class="navbar">
      <%- include('./partials/nav.ejs') %>
    </div>
    <div class="tectonica">
      <p>2015</p>
      <h3>Red Tectonica</h3>
      <img src="RedTectonica.png" alt="Red Tectonica 2015">
    </div>
  </section>
  <section>
    <h3>Freezing Sleep</h3>
    <img src="FreezingSleep.png" alt="Freezing Sleep">
  </section>
  <section>
    <h3>Lost in the Woods</h3>
    <img src="LostintheWoods.png" alt="Lost in the Woods">
  </section>
  <section>
    <h3>Lost in the Universe</h3>
    <div class="img-lost">
      <img src="LostintheUniverse.png" alt="Lost in the Universe">
    </div>
  </section>
  <section>
    <h3>How I Left the Storm</h3>
    <img src="HowILefttheStorm2.png" alt="How I Left the Storm">
  </section>
  <section>
    <h3>Acclaimed Trasition</h3>
    <img src="Seasons2.png" alt="Acclaimed Trasition">
  </section>
  <section>
    <h3>War of Art</h3>
    <img src="WarofArt2.png" alt="War of Art">
  </section>
  <section>
    <h3>Painting with a Blue Heart</h3>
    <img src="PaintingwithaBlueHeart.png" alt="Painting with a Blue Heart">
  </section>
  <section>
    <h3>Into Me I See</h3>
    <img src="Sunset.png" alt="Into Me I See">
  </section>
  <section>
    <p>2017</p>
    <h3>Frame of Mind</h3>
    <div class="img-3"></div>
    <img src="FrameofMindA.png" alt="Frame of Mind A">
    <img src="FrameofMindB.png" alt="Frame of Mind B">
    </div>
  </section>
  <section>
    <p>2018</p>
    <h3>Emergent Urgencies A</h3>
    <img src="EmergentEmergencies2.png" alt="Emergent Urgencies A">
  </section>
  <section>
    <h3>Emergent Urgencies B</h3>
    <img src="EmergentUrgenciesB.png" alt="Emergent Urgencies B">
  </section>
  <section>
    <h3>Translucent Behaviour</h3>
    <img src="TranslucentBehaviour2.png" alt="Translucent Behaviour">
  </section>
  <section>
    <h3>Vulgar Contemplation</h3>
    <div class="vulgar">
      <img src="VulgarContemplation2.png" alt="Vulgar Contemplation">
    </div>
  </section>
  <section>
    <p>2019</p>
    <h3>Passive Distortions A</h3>
    <img src="PassiveDistortionsA.png" alt="Passive Distortions A">
  </section>
  <section>
    <h3>Passive Distortions B</h3>
    <img src="PassiveDistortionsB.png" alt="Passive Distortions B">
  </section>
  <section>
    <h3>Passive Distortions C</h3>
    <div class="distortion-c">
      <img src="PassiveDistortionsC2.png" alt="Passive Distortions C">
    </div>
  </section>
  <section>
    <h3>Sweet Constirctions</h3>
    <div class="sweet">
      <img src="SweetConstrictionsA2.png" alt="Sweet Constirctions A">
      <img src="SweetConstrictionsB.png" alt="Sweet Constirctions B">
      <img src="SweetConstrictionsC.png" alt="Sweet Constirctions C">
      </div>
  </section>
  <section>
    <h3>Love Curtain</h3>
    <div class="love">
      <img src="LoveCurtainA.png" alt="Love Curtain A">
      <img src="LoveCurtainB.png" alt="Love Curtain B">
  </section>
  <section>
    <p>2020</p>
    <h3>Safarius</h3>
    <img src="Safarius.png" alt="Safarius">
  </section>
  <section>
    <h3>Melodrama</h3>
    <img src="Song.png" alt="Melodrama">
  </section>
  <section>
    <h3>Sunrise Infusion</h3>
    <img src="Sunrise.png" alt="Sunrise Infusion">
  </section>
  <section>
    <p>2021</p>
    <h3>Candy Store</h3>
    <img src="CandyStore2.png" alt="Candy Store">
    </section>
  <section>
     <!-- Footer partial -->
     <%- include('./partials/footer.ejs') %>
  </section>
  <!-- JS -->
  <script src="application.js"></script>

</body>
</html>
