<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>
<body>
  <!-- Navbar partial -->
  <div class="navbar">
    <%- include('./partials/nav.ejs') %>
  </div>
  <!-- Gallery -->
  <div class="gallery-container">
    <div class="img-container">
      <img class="frame" src="../public/images/RedTectonica.png" alt="Red Tectonica 2015">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/FreezingSleep.png" alt="Freezing Sleep" >
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/LostintheWoods.png" alt="Lost in the Woods">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/LostintheUniverse.png" alt="Lost in the Universe">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/HowILefttheStorm2.png" alt="How I Left the Storm">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/Seasons2.png" alt="Acclaimed Trasition">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/WarofArt2.png" alt="War of Art">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/PaintingwithaBlueHeart.png" alt="Painting with a Blue Heart">
    </div>
    <div class="img-container">
        <img class="frame" src="../public/images/FrameofMindA.png" alt="Frame of Mind A">
        <img class="frame" src="../public/images/FrameofMindB.png" alt="Frame of Mind B">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/EmergentEmergencies2.png" alt="Emergent Urgencies A">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/EmergentUrgenciesB.png" alt="Emergent Urgencies B">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/TranslucentBehaviour2.png" alt="Translucent Behaviour">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/VulgarContemplation2.png" alt="Vulgar Contemplation">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/PassiveDistortionsA.png" alt="Passive Distortions A">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/PassiveDistortionsB.png" alt="Passive Distortions B">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/PassiveDistortionsC2.png" alt="Passive Distortions C">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/SweetConstrictionsA2.png" alt="Sweet Constirctions A">
      <img class="frame" src="../public/images/SweetConstrictionsB.png" alt="Sweet Constirctions B">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/LoveCurtainA.png" alt="Love Curtain A">
      <img class="frame" src="../public/images/LoveCurtainB.png" alt="Love Curtain B">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/Safarius.png" alt="Safarius">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/Song.png" alt="Melodrama">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/Sunrise.png" alt="Sunrise Infusion">
    </div>
    <div class="img-container">
      <img class="frame" src="../public/images/CandyStore2.png" alt="Candy Store">
    </div>
  </div>

  <!-- Footer partial -->
  <%- include('./partials/footer.ejs') %>

  <!-- JS -->
  <script src="application.js"></script>
</body>
</html>
