<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>

<body>
   <section class="wrapper">
    <div>
      <!-- Navbar partial-->
      <%- include('./partials/nav.ejs') %>
    </div>

    <!-- Presentation -->
    <div class="float-container">
      <div class="float-child">
        <p>
          HI,
          I am Ruxandra Hule, an intuitive painter, experience designer and an identity coach
          I love creating spaces in which people feel safe to express themselves.
          </p>
      </div>
      <div class="float-child">
        <figure>
          <img src="P1010115.png" alt="My Picture">
        </figure>
      </div>
    </div>

    <div class="footer">
      <!-- Footer partial -->
      <%- include('./partials/footer.ejs') %>
    </div>
  </section>


  <!-- Java Script -->
  <script src="./src/application.js"></script>
</div>
</body>
</html>
