<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>

<body>
  <div class="sticky-sections">
    <section class="sticky-sections__section">
      <!-- Navbar -->
      <%- include('./partials/nav.ejs') %>

      <div class="parent">
        <div class="child">
          <div class="content">
            <p>HI, I am Ruxandra Hule, an intuitive painter, experience designer and an identity coach.
            I love creating spaces in which people feel safe to express themselves. Painting has always been part of my universe...</p>
          </div>
        </div>

        <div class="child">
          <div class="content">
            <img src="blackwhite.png" alt="Portrait1">
          </div>
        </div>
      </div>
    </section>

    <section class="sticky-sections_section">
      <div class="parent">
        <div class="child">
          <div class="content">
            <img src="blackandwhite2.png" alt="Portrait2">
          </div>
        </div>

        <div class="child">
          <div class="content">
            <p> My process starts with an indescribable sensation, with a color I don’t necessarily prefer- usually with something I tend to deny. Inspiration comes from my emotional landscape and the way it does not fit to the surrounding circumstances. With no end in my mind, I let colors of the soul and thought shapes to transform into new forms and textures.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="sticky-sections_section">
      <div class="parent">
        <div class="child">
          <div class="content">
            <p> Layer after layer, I become less and less attached to the object. What interests me is the constant process of wondering, a drop-down-through my unconscious abyss and bringing to the surface what I don’t know I know about myself. By surrendering to this journey, I intuitively understand what comes next in the instant pictures that cultivate my inner knowing.</p>
          </div>
          <div class="content">
            <a href="/about"><button class="about-btn">Bio</button></a>
          </div>
        </div>

        <div class="child">
          <div class="content">
            <img src="blackandwhite3.png" alt="Portrait2">
          </div>
        </div>
      </div>
    </section>

    <section class="sticky-sections_section">
      <!-- Contact Form -->
      <%- include('./partials/form.ejs') %>
    </section>

    <section class="sticky-sections_section">
      <!-- Footer-->
      <%- include('./partials/footer.ejs') %>
    </section>
  </div>
  <!-- Java Script -->
  <script src="./src/application.js"></script>
</div>
</body>
</html>
