<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('./partials/head.ejs') %>

<body>
    <!-- Navbar partial-->
    <%- include('./partials/nav.ejs') %>
   <section class="description">
      <div>
        <p>Ruxandra Hule</p>
      </div>
      <div>
        <figure>
          <img src="P1010115.png" alt="Picture of myself">
        </figure>
      </div>
    </section>

 <!-- Footer partial -->
 <%- include('./partials/footer.ejs') %>

  <!-- Java Script -->
  <script src="./src/application.js"></script>
</div>
</body>
</html>
