@import 'navbar.css';
@import 'form.css';
@import 'footer.css';

/* Fonts CSS Rules
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Serif', serif; */


* {
  box-sizing: border-box;
  margin: 0;
}

section {
  height: 100vh;
  text-align: center;
}

.navbar {
  height: 20vh;
}

/* Gallery styling */

.tectonica {
  margin-top: 80px;
}

 img {
  align-self: center;
  max-width: 500px;
  height: 50%;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .img-lost img {
  max-width: 800px;
 }

 .vulgar img {
  max-width: 800px;
 }

 .distortion-c img {
  box-shadow: none;
 }
 .sweet img{
  max-width: 200px;
  max-height: 500px;
 }

 .love img {
  max-width: 400px;
  max-height: 360px;
 }

 p{
  padding-bottom: 10px;
  font-family: 'Nunito Sans', sans-serif;
 }

 h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Serif', serif;
  font-weight: lighter;
 }
