@import 'navbar.css';
@import 'form.css';
@import 'footer.css';
@import 'about.css';

/* Fonts CSS Rules
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Serif', serif; */

* {
  box-sizing: border-box;
  margin: 0;
}

section {
  height: 100vh;
}

.navbar {
  height: 20vh;
}

/* Gallery styling */

 img {
  align-self: center;
  max-width: 50%;
  max-height: 70%;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .curtain {
  box-shadow: none;
 }

 p{
  padding-bottom: 10px;
  font-family: 'Roboto Serif', serif;
 }

 h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-style: oblique;
 }
