@import 'navbar.css';
@import 'form.css';
@import 'footer.css';

/* Fonts CSS Rules
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Serif', serif; */



* {
  box-sizing: border-box;
  margin: 0;
}

section {
  height: 100vh;
}

.navbar {
  height: 20vh;
}

 img {
  align-self: center;
  max-width: 500px;
  height: 50%;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .img-3 img{
  max-width: 200px;
 }
