/* @import 'gallery.css';
@import 'form.css'; */


html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

 /* Make website responsive */
/* .container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px;
} */


.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
}

.nav-section {
  min-height: 50vh;
}
/* Navbar styling */
.navbar {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  width: 100vw;
  overflow: hidden;
  position: fixed;
  align-items: center;
  text-align: center;
}

/* Navbar Logo styling */
.navbar .active {

}
.navbar #myLinks {
  display: inline-flex;
  justify-content: space-around;
  width: 50%;
  float: right;
  /* margin-bottom: 30px;
  padding-bottom: 10px; */
}

.navbar a {
  color: rgba(0, 0, 0, 0.75);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color:rgba(0, 0, 0, 0.50);
}

.navbar a.icon {
  display: none;
}

/* Presentation styling */

.float-container {
  border: 3px solid #fff;
  padding: 20px;
  margin-top: 60px;
  text-align: center;
  text-align: center;
}

.float-child {
  width: 50%;
  float: left;
  text-align: start;
  margin-left: 48px;
  display: inline-block;
  vertical-align: middle;
}

.float-child img {
  width: 400px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 10px 30px;
  border: 1px solid;
  display: inline-block;
  transition: all .2s;
  position: relative;
  margin-top: 20px;
}

.about-btn a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}


/* Footer styling */

footer {
  height: 200px;
  margin: 0px 48px;
}

.social {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.social-icon {
  float: left;
}


/* .about-btn:link,
.about-btn:visited, */
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.about-btn:hover,
.btn:hover {
 transform: translateY(-5px);
}

.about-btn:active,
.btn:active {
 transform: translateY(-3px);
}

.about-btn::after,
.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.about-btn:hover::after,
.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

button {
  background-color: rgb( 255, 255, 255);
}
