/* @import 'gallery.css';
@import 'form.css'; */


/* Fonts CSS Rules
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Serif', serif; */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.main {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

p, h1 {
  font-family: 'Nunito Sans', sans-serif;
}


/* Navbar styling */
.navbar {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  align-items: center;
  text-align: center;
  background-color: rgb( 255, 255, 255);
  margin-top: 0%;
}

/* Navbar Logo styling */
.navbar .active {

}

.navbar #myLinks {
  display: inline-flex;
  justify-content: space-around;
  width: 50%;
  float: right;
  margin: 0px 18px;
  font-family: 'Roboto Serif', serif;
  font-weight: lighter;
}

.navbar a {
  color: rgba(0, 0, 0, 0.75);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color:rgba(0, 0, 0, 0.20);
}

.navbar a.icon {
  display: none;
}

/* Introduction styling */

.float-container {
  border: 3px solid #fff;
  padding: 20px;
  margin-top: 60px;
  text-align: center;
  text-align: center;
  display: flex;
}

.float-child {
  width: 50%;
  float: left;
  text-align: start;
  margin-left: 48px;
  display: inline-block;
  vertical-align: middle;
  flex: 60%;
}

.float-child img {
  width: 400px;
  flex: 40%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 10px 30px;
  border: 1px solid;
  display: inline-block;
  transition: all .2s;
  position: relative;
  margin-top: 20px;
}

.about-btn a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}


/* Footer styling */

.footer {
  height: 20%
}

footer {
  height: ;
  margin: 0px 48px;
  text-align: center;
}

.social {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.social-icon {
  float: left;
}

.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.about-btn:hover,
.btn:hover {
 transform: translateY(-5px);
 color: rgba(0, 0, 0, 0.20);
}

.about-btn:active,
.btn:active {
 transform: translateY(-3px);
}

.about-btn::after,
.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.about-btn:hover::after,
.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

button {
  background-color: rgb( 255, 255, 255);
  border: none;
  font-family: 'Roboto Serif', serif;
  font-weight: lighter;
}
