@import 'gallery.css';
@import 'form.css';
@import 'footer.css';

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar styling */
.navbar {
  border-bottom: 1px solid black;
  /* height: 5vh; */
  width: 100vw;
  overflow: hidden;
  position: fixed;
  align-items: center;
  text-align: center;
}

/* Navbar Logo styling */
.navbar .active {

}
.navbar #myLinks {
  display: inline-flex;
  justify-content: space-around;
  width: 50%;
  float: right;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.navbar a {
  color: rgba(0, 0, 0, 0.75);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color:rgba(0, 0, 0, 0.50);
}

.navbar a.icon {
  display: none;
}

/* Presentation styling */
.float-container {
  border: 3px solid #fff;
  padding: 20px;
  margin-top: 60px;
  text-align: center;
}

.float-child {
  width: 50%;
  float: left;
}

/* Footer styling */

footer {
  height: 56px;
}

.social {
  display: flex;
  justify-content: center;
}

.social i {
  margin: 10px;
  color: rgb(0,0,0);
  background-color: transparent;
}

.social i:hover {
  color: rgba(0, 0, 0, 0.50);
}
