/* Navbar for screens up to 992 px */
@media only screen and (max-width: 992px) {
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
    top: 0;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  /* Style navigation menu links */
  .topnav a {
    color: rgba(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    color: rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a.active {
    height: 48px;
  }
  .topnav a:hover {
    color: rgba(0, 0, 0, 0.50);
  }
}



@media only screen and (min-width: 993px) {
  .topnav {
    background-color:  rgb(224, 202, 77);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
  }
  .topnav .active {
    width: 50%;
    float: left;
  }
  .topnav #myLinks {
    display: inline-flex;
    width: 50%;
    float: right;
    justify-content: space-around;
  }

  .topnav a {
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Nunito Sans', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    color:rgba(0, 0, 0, 0.50);
    background-color: blanchedalmond;
  }

  .topnav a.icon {
    display: none;
  }
}
