.content {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 36px auto;
}

.left-column {
  flex: 1;
}

.left-column h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.right-column {
  flex: 2;
}

.portrait {
  margin: 0;
  width: 100%;
  max-width: 500px;
}

.portrait img {
  max-width: 500px;
  margin-bottom: 30px;
  filter: drop-shadow(0 0 5px black);
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .left-column, .right-column {
    flex: 1;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 500px) {
  .portrait img {
    max-width: 100%;
  }
}

/* Font styling ABOUT section  */

.description {
  font-family: 'Playfair Display', serif;
}


/* Font styling CV section */

.heading {
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.subheading {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.date-place{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
  margin-bottom: 5px;
}

.detail-text {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: normal;
  color: #888;
  margin-bottom: 60px;
}
