.content {
  height: 100%;
  width: 100%;
  margin: 40px auto;
  padding: 10px;
  text-align: center;
}

.description {
  margin: 60px;
  padding: 20px;
  font-size: 3vw;
  font-family: 'Nunito Sans', sans-serif;
}

.portrait {
  object-fit: cover;
  margin-top: 20px;
}
