.content {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 36px auto;
}

.left-column {
  flex: 1;
}

.left-column h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.right-column {
  flex: 2;
}

.portrait {
  margin: 0;
  width: 100%;
  max-width: 500px;
}

.portrait img {
  max-width: 500px;
  margin-bottom: 30px;
  filter: drop-shadow(0 0 5px black);
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .left-column, .right-column {
    flex: 1;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 500px) {
  .portrait img {
    max-width: 100%;
  }
}
