.wrapper {
  text-align: center;
}

.wrapper p {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 1.2em;
  font-style: italic;
  padding-top: 20px;
}

/* Fonts CSS Rules
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
 */
