.wrapper {
  text-align: center;
}

.text {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  padding-top: 20px;

}

/* Fonts CSS Rules
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
 */
