.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

form {
  width: 400px;
  background-color: rgb(221, 221, 221);
  padding: 20px;
  border: 1px solid #b3b3b3;
}

.form-field {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #e6e6e6;
  font-size: 16px;
  box-sizing: border-box;
}

button[type="submit"] {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 100;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #6a6a6a;
}
