@import 'navbar.css';
@import 'form.css';
@import 'footer.css';
@import 'about.css';
@import 'contact.css';


body {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 221);
}

/* Images styling */
.gallery-container {
  display: flex;
  flex-flow: column;
  max-width: 60%;
  max-height: 100%;
  gap: 28px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.img-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img-container img {
  float: left;
  width:  80%;
  height: 700px;
  object-fit: cover;
  filter: drop-shadow(0 0 5px black);
  margin-left:  14px;
  margin-right: 14px;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .img-container img {
    height: auto;
  }
}

/* Scroll to the top button styling */
.scroll {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

i {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
  font-size: 20px;
  color: rgb(93, 93, 93);
}
