.topnav {
  overflow: hidden;
}
/* Fonts CSS Rules
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
 */

.topnav a {
  float: right;
  display: block;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  font-weight: 500;
  margin-right: 20px;
}

.topnav a:hover {
  color: rgb(163, 163, 163);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none !important;
    display: block !important;
    text-align: left !important;
    color: black !important;
  }
}
