.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  font-weight: 500;
  margin-right: 20px;
}

.topnav a:hover {
  color: rgb(163, 163, 163);
}

@media (max-width: 600px) {
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .topnav a {
    float: none;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
}
