footer {

}



/* Icons styling in the footer */
.social {
  display: flex;
  justify-content: center;
}

.social i {
  margin: 10px;
  color: rgb(0,0,0);
  background-color: transparent;
}

.social i:hover {
  color: rgba(0, 0, 0, 0.50);
}
