@import "_navigation.css";
@import "_footer.css";
@import "_contact.css";


/* Fonts */
/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif; */


* {
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: grid;
  background-color:  rgb(230, 198, 115);
}

/* Presentation Ruxandra Hule section */
.row {
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.column {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  text-align: center;
  flex: 50%;
  float: left;
  padding-left: 20px;
}

.column p {
  margin-left: 15px;
  margin-right: 15px;
}
.column img{
    margin-left: auto;
    width: 70%;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}
